<h1>About hrsimple</h1>
<p>Since 1986, we've been translating employment laws and regulations into simple English to help you manage your two most important resources: your time and your employees.</p>

<p>Our Story, as told by ACCR President Brad Apland:</p>

<p>HRsimple is the online version of our human resources library, a collection of resources that translate complicated HR rules and regulations into simple English. HRsimple is a part of our parent company, American Chamber of Commerce Resources (ACCR), which is an extension of the company founded by my dad, Dick Apland.  When we started HRsimple, we were two brothers in a six by ten office in the Chicago Loop.  Now we occupy about 3,500 square feet, and include a nephew and a sister, and what we consider an extended family for a total of 26.</p>

<p>We distill the knowledge and experience of 28 law firms and more than 135 attorneys into resources for 23 states.  We are not attorneys and we are not human resources professionals, which we consider an advantage, because we look at ourselves as the final HR filter – if it makes sense to us, then we figure it will make sense to you.  We hope you'll agree that our resources truly make HR simple.</p>

<p>--Brad Apland, President</p>
